.avatar {
  max-width: 15%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: -50px;
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  max-width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  font-weight: lighter;
}

* {
  color: black;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}

p.bioInfo {
  text-align: left;
  list-style-type: none;
  margin-left: 20%;
  margin-right: 20%;
  padding: 2%;
  font-family: Lato", sans-serif;
}

/* section.about-me {
  justify-content: center;
} */

.icons {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-right: 16px;
  padding: 70px;
  padding-top: 5px;
}
.fa {
  padding: 40px;
  font-size: 30px;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 20%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background-color: white;
  color: black;
  border-color: black;
}
.fa-google {
  background-color: crimson;
  color: white;
}

body {
  background-image: url("image.jpg");
  background-position: center center;
  background-size: 100% 100%;
}

/* .vertical-line {
  display: inline-block;
  border-left: 1px solid #ccc;
  margin: 0 10px;
  height: 125px;
} */

/* .projects {
  display: flex;
  margin: 50px 0;
  justify-content: space-around;
  flex-direction: column;
} */

.projects .project {
  flex: 1;
  margin: 20px 0;
}

.projects1 {
  /* display: flex;
  margin: 50px 0;
  justify-content: space-around;
  flex-direction: column; */
}
.project-pic1 {
  /* width: 150px; */
  height: 150px;
}

.projects1 .project1 {
  flex: 1;
  margin: 20px 0;
}

a {
  color: blue;
}

.descript {
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  width: auto;
}

.skills ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto 50px;
}

.skills ul li {
  margin: 0 10px;
  list-style-type: none;
}

footer ul li {
  display: inline-block;
  margin: 0 10px;
}

/*Desktop Screen*/
@media screen and (min-width: 480px) {
  .projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
  }
@media screen and (min-width: 480px) {
  .projects1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
